<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if not session.logged_in %}
    <meta http-equiv="refresh" content="0.1;url={{ url_for('login') }}">
    {% endif %}
    <title>Ping & Traceroute</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="static/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="static/css/font-awesome.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="static/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Ping & Traceroute</a>
            </div>
  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;">  <a href="{{ url_for('logout') }}" class="btn btn-danger square-btn-adjust">Logout</a> </div>
        </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a  href="{{ url_for('admin_user') }}"><i class="fa fa-sitemap fa-3x"></i>Users<span class="fa arrow"></span></a>
                    </li>
                    <li>
                        <a  href="{{ url_for('admin_host') }}?pageid=1"><i class="fa fa-sitemap fa-3x"></i>Add Host<span class="fa arrow"></span></a>
                    </li>
                    <li>
                        <a  href="{{ url_for('admin_smtp') }}"><i class="fa fa-sitemap fa-3x"></i>SMTP Setting<span class="fa arrow"></span></a>
                    </li>
                    <li>
                        <a  href="{{ url_for('admin_wechat') }}"><i class="fa fa-sitemap fa-3x"></i>WeChat Setting<span class="fa arrow"></span></a>
                    </li>
                </ul>
            </div>
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Edit Users</h2>
                        <h5>admin can't be delete.</h5>
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />



                <table border="1" width=897>
                    <tr>
                        <th align="center">Select</th>
                        <th align="center">ID</th>
                        <th align="center">Username</th>
                        <th align="center">Operation</th>
                    </tr>
                    <form name="delform" action="{{ url_for('admin_user') }}" method="post">
                    {% for user in users %}
                    <tr>
                        <td align="center"><input name="radio_id" type="radio" value="{{ user[0] }}"></td>
                        <td align="center">{{ user[0] }}</td>
                        <td align="center">{{ user[1] }}</td>
                        <td align="center"><input name="confirm" type="submit" value="del">&nbsp;&nbsp;
                            <a href="{{ url_for('edit_user') }}?userid={{ user[0] }}" target="_blank">edit</a></td>
                    </tr>
                    {% endfor %}
                    </form>
                </table>

                <br>
                <HR width="100%" color=#987cb9 SIZE=10 />

                <form name="addform" action="{{ url_for('admin_user') }}" method="post">
                <table>
                    <tr>
                        <td width="50" align="right">Username:</td>
                        <td align="left"><input name="input_u" type="text"></td>
                    </tr>
                    <tr>
                        <td width="50" align="right">Passwd:</td>
                        <td align="left"><input name="input_p" type="password"></td>
                    </tr>
                </table>
                    <input name="confirm" type="submit" value="add">
                </form>

    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="static/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="static/js/jquery.metisMenu.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="static/js/custom.js"></script>
    
   
</body>
</html>
